.menu {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.menu-lista-item-1{
    display: inline-block;
    position: absolute;
    margin: -15px 45px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.menu-lista-item-2{
    display: inline-block;
    position: absolute;
    margin: -15px 155px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.menu-imagem{
    width: 15%;
    margin: 0 -250px;
}